<!DOCTYPE html>
<!--This page is dedicated to pedigree dogs-->
<html>
		<head>
					<link rel="stylesheet" type="text/css" href="application.css">
					<meta charset="UTF-8">
					<title>Dogs</title>
		</head>		
		<body>
					<h1>This dog is actually a fox in disguise</h1>
					<p><img src="shibe.png" alt="'Dog'"></p>
		</body>	
</html>
