<!DOCTYPE html>
<!-- A gallery of cats-->
<html>
  		<head>
  				<link rel="stylesheet" type="text/css" href="application.css">
   				<meta charset="UTF-8">
				<title>@gallery.id</title>
  		</head>
  <body>
		<h1>@gallery.id/<h1>
		<% @images.each do |image| %>
				<p><img src="<%= @gallery.id %>" alt="<%= @gallery.id %>"></p>
				<% end %>
  </body>
</html>